:root {
    --primery-text-colot: #212121;
    --button-color: #2196F3;
    --back-color: #FFFFFF;
    --sbc: #2F303A;
    --contact-color: #757575;
    --white-whis-transparency: rgba(255, 255, 255, 0.6);
    --bgr-staff: #F5F4FA;
    
}

body {
    background-color: var(--back-color);
    color: var(--primery-text-colot);
    font-family: 'Roboto', sans-serif;
}

.list{
    list-style: none;
}

.list a{
    text-decoration: none;
}

.big{
    text-transform: uppercase;

}
.title{
font-weight: 700;
letter-spacing: 0.03em;
}

/*header*/


.logo-web{
    color: var(--button-color) ;
}

.site-logo.plus{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--button-color);
}



.navigetion.plus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primery-text-colot);
    letter-spacing: 0.02em;
}

.navigetion.plus:hover,
.navigetion.plus:focus{
    color: var(--button-color)
}

.contakt.mee {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--contact-color);
    letter-spacing: 0.02em;
    
}

.site-nav a.current {
    color: var(--button-color);
}



.logo-studio
{
    color:var(--primery-text-colot);
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--back-color);
    letter-spacing: 0.06em;
    
    text-align: center;
    
}

/*hero*/


.btn {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.btn.primery{
    color: var(--back-color);
    background-color: var(--button-color);
}
.btn.primery:hover,
.btn.primery:focus,
.btn.primery:active{
    background-color: #188CE8;
}

.btn.secondary{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    color: var(--primery-text-colot);
}

.btn.secondary:hover,
.btn.secondary:focus,
.btn.secondary:active{
    background-color: var(--button-color);
    color: var(--back-color);
}

.darkside{
    color: var(--back-color);
    background-color: var(--sbc);
}

/*feature*/

.feature-title{
  
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;


color: var(--primery-text-colot);
}

.operations-text{  
font-size: 14px;
line-height: 1.71;
color: var(--contact-color);
letter-spacing: 0.03em;
}


/*what-we-do*/

.we-do .what-we-do{
   
    font-size: 36px;
    line-height: 1.16;


}

/*staff*/
.staff{
    background-color: var(--bgr-staff);
}


.title.staff{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;

}

.staff.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    background-color: var(--back-color);
}

.staff.posicion{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--contact-color);
    background-color: var(--back-color);
}


.downpicture{
    background-color: var(--back-color);
}

/*footer*/


.darkside{
    color: var(--back-color);
    background-color: var(--sbc);
}
    



.address.contact{
  
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-whis-transparency)
}


.address.map{
  
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--back-color);
}
.address.map:hover,
.address.map:focus,
.address.contact:focus,
.address.contact:hover{
    color: var(--button-color);
}



.logo.logo-web{
    color: var(--button-color);
    
}
.logo.down-studio{
    color: var(--back-color);
    
}

/*portfolio*/

.list.choice{
    color: var(--primery-text-colot);
}
.choice.title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primery-text-colot);
    

}
.choice.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--contact-color);
}
.visually.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


  


